version: '3.9'
services:
    open-webui:
        image: ghcr.io/open-webui/open-webui:main
        container_name: open-webui
        volumes:
            - open-webui:/app/backend/data
        ports:
            - '${PORT:-3081}:8080'
        env_file: stack.env
volumes:
  open-webui:
